@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-libre: var(--font-libre-franklin);
  --color-primary: #6761a4;
  --color-primary-hover: #46407b;
  --color-primary-light: #d9d7e8;
  --color-primary-dark: #121221;
  --color-secondary: #d55852;
  --color-accent: #7abe75;
}

/* 
Default dark mode not needed since we are using Tailwind's dark mode feature. If you want to use the prefers-color-scheme media query, you can uncomment the following code:
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

html {
  font-family: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1 {
  font-family: var(--font-libre);
}

@layer base {
  p {
    @apply max-w-lg text-base leading-7 text-neutral-700 sm:max-w-xl sm:text-lg;
  }
}

.small-heading {
  @apply mb-4 text-sm font-medium tracking-[0.2em] text-neutral-500 uppercase md:mb-5;
}

.heading {
  @apply pb-2 text-2xl font-semibold;
}
